.login-container {
  height: calc(100vh - var(--alto-footer));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-fondo);
}

.login {
  padding: 1rem 4rem 2rem 4rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  font-weight: bold;
}
